.wrap div {
  display:flex;
  border:1px solid black;
  padding:5px;
  background-color: white;
}
.one {
  min-width:1400px;
}
.one div {
  flex:1 1;
  margin:5px;
}
form input {
	margin:5px;
}
.selected  {
	background-color:red !important;
}